<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- active when if conditon is true -->
        <!-- for debug {{ request.path }} -->
        <li class="nav-item dropdown {% if 'ecommerce_app' in request.path %} active {% endif %}">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
              </a>

              <ul class="dropdown-menu">
              <!-- Home page button -->
              <li><a class="dropdown-item" href="{% url 'ecommerce_app:allProdCat' %}">All Product</a></li>
              <!-- Hear "links" can call eny template page (becuse it registerd in "settings.py" page under "TEMPLATES") -->
              <!-- whay links's "menu_link" function write in "context_processors.py", and it register in "settings"?
              becuse: Catogoty is a "model.py" method, and its can't call by normal function like "view"... -->
              <!-- "links" contain all data in model Catogory class (include function like "get_url")(go to 1) -->
              
              <!-- "for" loop list all catogory registerd in Catogry -->
              {% for i in links %}
                  <!-- 1 - when user "click" eny catogory name, it call "get_url" function under Catogory method (go to model.py) -->
                  <li><a class="dropdown-item" href="{{i.get_url}}">{{i.name}}</a></li>
              {% endfor %}
              </ul>
        </li>

        {% if item_count > 0 %}
        <li class="nav-item">
          <a href="{% url 'cart_app:cart_detail' %}" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>({{item_count}})
          </a>
        </li>
        {% endif %}

      </ul>

      <form class="d-flex" role="search" action="{% url 'search_app:SearchResult' %}" method="get">
          {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
